{% extends 'baseof.html' %}
{% block css %}
<link rel="stylesheet" href="../../static/css/myticket/myticket.css">
{% endblock %}

{% block content %}
<div id="ticket-navbar">
    <a class="left clicked" href="/myTicket/received">已付款</a>
    <a class="right" href="/myTicket/unpaid">未付款</a>
</div>

{% block ticket_infor %}
{% endblock %}
{% endblock %}


{% block js %}
<script>
    if(window.location.href.includes("unpaid")){
        document.getElementsByClassName('left')[0].classList.remove('clicked')
        document.getElementsByClassName('right')[0].classList.add('clicked')
    }else{
        document.getElementsByClassName('right')[0].classList.remove('clicked')
        document.getElementsByClassName('left')[0].classList.add('clicked')
    }
</script>
{% endblock %}