{% extends 'baseof.html' %}
{% block css %}
<link rel="stylesheet" href="../../static/css/myticket/myticket.css">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
{% endblock %}

{% block content %}
<div id="ticket-navbar">
    <a class="left clicked" href="/myTicket/received">已付款</a>
    <a class="right" href="/myTicket/unpaid">未付款</a>
</div>

{% block ticket_infor %}
{% endblock %}
{% endblock %}


{% block js %}
<script src="../../static/js/myTicket.js"></script>
{% endblock %}