<!-- about.html -->
{% extends 'baseof.html' %}

{% block content %}
<header><h1>鐵路訂票介紹</h1></header>

<section>
    <h2>簡介</h2>
    <p>鐵路訂票是一種方便快捷的方式，讓乘客能夠預訂火車票。</p>
</section>

<section>
    <h2>如何訂票</h2>
    <p>訂票過程非常簡單。進入鐵路公司的官方網站或使用手機應用，選擇路線、日期和時間，然後支付車票費用即可。</p>
</section>

<section>
    <h2>優勢</h2>
    <p>方便的線上操作，隨時隨地訂票，並享受網上優惠和促銷。</p>
</section>

<section>
    <h2>注意事項</h2>
    <p>在訂票之前，確保了解列車時刻表、車票價格和相關規定。保護個人資訊</p>
</section>

<style>
    body {
         font-family: Arial, sans-serif; margin: 20px; line-height: 1.6; 
    }
    header {
         text-align: center; padding: 10px; background-color: #f2f2f2; 
    }
    section {
         margin-bottom: 20px; 
    }
    h2{
        font-size: 20px;
    }
</style>

{% endblock %}
