<!-- baseof.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/baseof/baseof.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <script src="https://releases.jquery.com/git/jquery-git.min.js"></script>
    <title> {{ title }} </title>
    {% block css %}
    {% endblock %}
</head>
<body>

<nav>
    <!-- Navigation content here -->
    <div class="nav-container">
        <a href="/">Home</a>
        <a href="/notification/ticket" id="notification"></a>
    </div>
    
    <!-- Add other navigation links as needed -->
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <!-- Footer content here -->
    <ul class="tools">
        <li><a href="/myTicket/received"><img src="../static/icon/ticket.png" alt="myTicket"></a></li>
        <li><a href="/bookTicket"><img src="../static/icon/online-booking.png" alt="bookTicket"></a></li>
        <li><a href="/setting"><img src="../static/icon/setting.png" alt="settings"></a></li>
        <li><a href="/about"><img src="../static/icon/information.png" alt="about"></a></li>
    </ul>
</footer>

</body>
    <script src="../static/js/baseof.js"></script>
    
    {% block js %}
    {% endblock %}
</html>
